<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.bluecoral.MinimaLista">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon_1"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_1"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ListModel.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".CreateModel.HomeBillsToDoActivity"
                  android:theme="@style/Theme1">
        </activity>
        <activity android:name=".DeleteModel.HomeBillsDeleteToDoActivity"
                  android:theme="@style/Theme1">
        </activity>
        <activity android:name=".CreateModel.WorkStudyToDoActivity"
                  android:theme="@style/Theme2">
        </activity>
        <activity android:name=".DeleteModel.WorkStudyDeleteToDoActivity"
                  android:theme="@style/Theme2">
        </activity>
        <activity android:name=".CreateModel.GroceriesToDoActivity"
                  android:theme="@style/Theme3">
        </activity>
        <activity android:name=".DeleteModel.GroceriesDeleteToDoActivity"
                  android:theme="@style/Theme3">
        </activity>
        <activity android:name=".CreateModel.FriendsFamilyToDoActivity"
                  android:theme="@style/Theme4">
        </activity>
        <activity android:name=".DeleteModel.FriendsFamilyDeleteToDoActivity"
                  android:theme="@style/Theme4">
        </activity>
        <activity android:name=".CreateModel.InterestsTravelToDoActivity"
                  android:theme="@style/Theme5">
        </activity>
        <activity android:name=".DeleteModel.InterestsTravelDeleteToDoActivity"
                  android:theme="@style/Theme5">
        </activity>
        <activity android:name=".CreateModel.OtherToDoActivity"
                  android:theme="@style/Theme6">
        </activity>
        <activity android:name=".DeleteModel.OtherDeleteToDoActivity"
                  android:theme="@style/Theme6">
        </activity>


        <activity
                android:name=".TodoModel.HomeBillsActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.WorkStudyActivity"
                android:label="@string/title_activity_work_study"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.GroceriesActivity"
                android:label="@string/title_activity_shopping"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.FriendsFamilyActivity"
                android:label="@string/title_activity_friends_family"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.InterestsTravelActivity"
                android:label="@string/title_activity_interests_travel"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.OtherActivity"
                android:label="@string/title_activity_other"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
