<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.bluecoral.MinimaLista">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ListModel.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".CreateModel.HomeToDoActivity">
        </activity>
        <activity android:name=".DeleteModel.DeleteToDoActivity">
        </activity>



        <activity android:name=".CreateModel.WorkStudyToDoActivity">
        </activity>
        <activity android:name=".CreateModel.ShoppingToDoActivity">
        </activity>
        <activity android:name=".CreateModel.FriendsFamilyToDoActivity">
        </activity>
        <activity android:name=".CreateModel.InterestsToDoActivity">
        </activity>
        <activity android:name=".CreateModel.OtherToDoActivity">
        </activity>






        <activity
                android:name=".TodoModel.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity
                android:name=".TodoModel.WorkStudyActivity"
                android:label="@string/title_activity_work_study"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity
                android:name=".TodoModel.ShoppingActivity"
                android:label="@string/title_activity_shopping"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.FriendsFamilyActivity"
                android:label="@string/title_activity_friends_family"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.InterestsTravelActivity"
                android:label="@string/title_activity_interests_travel"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TodoModel.OtherActivity"
                android:label="@string/title_activity_other"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>